<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555873172386-0qdkjojbugcpl6ncst7a26pv7vh8urha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555873172386-0qdkjojbugcpl6ncst7a26pv7vh8urha</string>
	<key>API_KEY</key>
	<string>AIzaSyDx08ZV5vXUVRbAKq7dmzDcu9F6KHBXtw4</string>
	<key>GCM_SENDER_ID</key>
	<string>555873172386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tesVictoriaCare</string>
	<key>PROJECT_ID</key>
	<string>fcmtest-4f962</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmtest-4f962.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555873172386:ios:84b0e74e6a0cc14bd410fb</string>
</dict>
</plist>